# Para resolver

In [169]:
# <- Librerias para manejo de datos ->
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

# <- Librerias para visualización de datos ->
import seaborn as sns
import matplotlib.pyplot as plt

## Importación y lectura de `csv`:

In [170]:
# lectura del csv

df = pd.read_csv('./certificados-personas-por-fecha-ingreso-provincia-localidad.csv')

In [171]:
# info del dataframe

In [172]:
# muestra aleatoria

## Atributos `loc` e `iloc` de pandas:

### Atributo `loc`:

In [173]:
##help(df.loc)

In [174]:
# documentación de .loc

##help(pd.DataFrame.loc)

Accediendo a indices:

In [175]:
# un solo indice -> indice 3

df.loc[3, :]

fecha_ingreso                 2020-12-01
destino_provincia           Buenos Aires
destino_localidad        Almirante Brown
cantidad_certificados                  0
cantidad_personas                    NaN
Name: 3, dtype: object

In [176]:
# accediendo a mas de un indice -> [3, 7]

Accediendo a columnas:

In [177]:
# accediendo a columna 'destino_provincia'

In [178]:
# Accediendo a mas de una columna -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

Accediendo a grupos de columnas e indices en especifico:

In [179]:
# indices -> [3, 7]
# columnas -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

### Atributo `.iloc`:

In [180]:
#documentación de iloc

##help(df.iloc)

Accediendo a indices:

In [181]:
# un solo indice -> indice 3

In [182]:
# accediendo a mas de un indice -> [3, 7]

Accediendo a columnas:

In [183]:
# accediendo a columna 'destino_provincia'

In [184]:
# Accediendo a mas de una columna -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

Accediendo a grupos de columnas e indices en especifico:

In [185]:
# indices -> [3, 7]
# columnas -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

## Método `.groupby()`:

In [186]:
# documetación del método .groupby()

##help(pd.DataFrame.groupby)

### Agrupando por una sola columna:

In [187]:
# agrupando por una columna

In [188]:
# accediendo a ciertas columnas luego de la agrupación

In [189]:
# viendo los resultados para un grupo en particular con .get_group()

In [190]:
# equivalencia de .get_group() utilizando mascaras

In [191]:
# aplicando una función de agregación

### Agrupando por mas de una columna:

In [192]:
##help(pd.core.groupby.generic.DataFrameGroupBy)

In [193]:
# agrupando por dos columnas

In [194]:
# accediendo a ciertas columnas luego de la agrupación
# Aplicando una función de agregación sobre el dataframe agrupado y con columnas ya seleccionadas

## Manejo de errores:

In [195]:
# try, except para obtener el año de la columna 'fecha_ingreso'

In [196]:
# #help sobre `raise`
##help('raise')

In [197]:
# 'raise' para evitar que se instancie un dataset con nulos

## Guardando el dataframe en una copia

In [198]:
# Utilizando .copy() para crear una copia del dataframe

## Manejo de fechas:

### Pandas.to_datetime()

In [199]:
# documentación de Pandas.to_datetime()

##help(pd.to_datetime)

In [200]:
# Convertir la columna a tipo fecha

### pd.Series.dt

In [201]:
# documentación de Series.dt

##help(pd.Series.dt)

In [202]:
# utilizando atributo .dt para acceder al año

In [203]:
# utilizando atributo .dt para acceder al mes

In [204]:
# utilizando atributo .dt para acceder al dia

In [205]:
# Utilizando .dt.isocalendar() para acceder al año semana y dia al mismo tiempo

In [206]:
# .dt.strftime()

## Método apply para aplicar funciones sobre una columna o fila:

In [207]:
# documentación del metodo .apply()

##help(pd.DataFrame.apply)

### Cambios sobre una columna

In [208]:
# apply con función 'sqrt' de numpy sobre una columna especifica

### Cambios sobre filas

In [209]:
# apply de np.sum() sobre una fila (solo sobre columnas numericas)

## Funciones:

### Funciones incorporadas:

In [210]:
# type sobre la instancia 'df'
type(df_procesado)

pandas.core.frame.DataFrame

In [211]:
# print sobre un string

In [212]:
# input

### Funciones definidas por el usuario:

Definiendo e invocando funciónes:

In [213]:
# funcion sin parámetros y sin retorno de info (solo imprime un saludo)

In [214]:
# funcion 'cuadrado' con parámetros y retorno de info

In [215]:
# aplicando la función 'cuadrado' con apply

### Funciones anonimas `lambda`:

Funciones lambda aplicada a una columna:

In [216]:
# pseudo definicion de una función anonima 'cuadrado'

# aplicando la función lambda 'cuadrado' desde apply

In [217]:
# aplicando función lambda directamente sobre columna 'cantidad_certificados'

In [218]:
# utilizando `lambda` junto con `unique` de numpy para obtener los valores unicos de cada fila (axis=1)

Funciones lambda aplicada a una fila:

In [219]:
# mostrando la froma en que funciona `join` de python

In [220]:
# utilizando `lambda` junto con `join` para concatenar cada registros de la columnas 'destino_localidad' y 'destino_provincia'

## Imputación

Agregando nulos dummies

In [221]:
# utilizando .loc para remplazar algunos valores por np.nan dentro de columnas numericas (cantidad_certificados)

In [222]:
##help(pd.DataFrame.replace)

Visualizando brevemente la distribución de las variables numericas

In [223]:
##help(SimpleImputer)

In [224]:
# kdeplot para la columna 'cantidad_certificados'

In [225]:
# kdeplot

SimpleImputer

In [226]:
# instancia

In [227]:
# fit_transform

## Encoders

OneHotEncoder

In [228]:
# documentación de OneHotEncoder
##help(OneHotEncoder)

Destino provincia

In [229]:
# importacion

In [230]:
# instanciamos

In [231]:
# fit

In [232]:
# tranform

In [233]:
# obtener nombre de las columnas de salida

In [234]:
# crear dataframe

In [235]:
##help(pd.concat)

In [236]:
# concatenación

Destino localidad

OrdinalEncoder

In [237]:
# describe de la columna 'cantidad_personas'

Discretizando la columna 'cantidad_personas' en rangos de 10 en 10

In [238]:
# mascaras entre 0 - 10 ... 50 - 60

# inicializando la columna en 'cant_persnas_discr' en 0

# aplicando para cada mascara df.loc[mascara, columna_discreta] = valor_discreto

In [239]:
# comprobando que se discretizo correctamente por medio de unique

In [240]:
# instancia de OrdinalEncoder con las categorias ordenadas

In [241]:
# fit_transform sobre columna

## Guardando dataframe en un archivo `.csv`

In [242]:
# guardado de dataframe procesado en conjunto de datos '.csv'

In [243]:
# ... en conjunot de datos '.xlsx'

# Soluciones

In [244]:
import pandas as pd
import numpy as np

## Importación y lectura de `csv`:

In [246]:
# lectura del csv
df = pd.read_csv('./certificados-personas-por-fecha-ingreso-provincia-localidad.csv')

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170807 entries, 0 to 170806
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_ingreso          170807 non-null  object
 1   destino_provincia      170807 non-null  object
 2   destino_localidad      170807 non-null  object
 3   cantidad_certificados  170807 non-null  int64
 4   cantidad_personas      84914 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 6.5+ MB

## Atributos `loc` e `iloc` de pandas:

### Atributo `loc`:

In [248]:
# documentación de .loc
#help(pd.DataFrame.loc)

In [249]:
df.index

RangeIndex(start=0, stop=170807, step=1)

Accediendo a indices:

In [250]:
# un solo indice -> indice 3

df.loc[3]

fecha_ingreso                 2020-12-01
destino_provincia           Buenos Aires
destino_localidad        Almirante Brown
cantidad_certificados                  0
cantidad_personas                    NaN
Name: 3, dtype: object

In [251]:
# accediendo a mas de un indice -> [3, 7]

df.loc[[3, 7]]

,fecha_ingreso,destino_provincia,destino_localidad,cantidad_certificados,cantidad_personas
3,2020-12-01,Buenos Aires,Almirante Brown,0,NaN
7,2020-12-01,Buenos Aires,Azul,0,NaN

Accediendo a columnas:

In [252]:
# accediendo a columna 'destino_provincia'
df.loc[:,['destino_provincia']]

       destino_provincia
0           Buenos Aires
1           Buenos Aires
2           Buenos Aires
3           Buenos Aires
4           Buenos Aires
...                  ...
170802           Tucumán
170803           Tucumán
170804           Tucumán
170805           Tucumán
170806           Tucumán

[170807 rows x 1 columns]

In [253]:
# Accediendo a mas de una columna -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

df.loc[:, ['destino_provincia', 'destino_localidad', 'cantidad_personas']]

       destino_provincia       destino_localidad  cantidad_personas
0           Buenos Aires  Adolfo Gonzáles Chaves                2.0
1           Buenos Aires            Aguas Verdes               18.0
2           Buenos Aires                 Alberti                NaN
3           Buenos Aires         Almirante Brown                NaN
4           Buenos Aires               ARRECIFES                2.0
...                  ...                     ...                ...
170802           Tucumán         Villa de Leales                NaN
170803           Tucumán         Villa Quinteros                NaN
170804           Tucumán                  Yánima                NaN
170805           Tucumán             Yerba Buena               13.0
170806           Tucumán         Yerba Buena (S)                3.0

[170807 rows x 3 columns]

Accediendo a grupos de columnas e indices en especifico:

In [254]:
# indices -> [3, 7]
# columnas -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

df.loc[[3, 7], ['destino_provincia', 'destino_localidad', 'cantidad_personas']]

  destino_provincia destino_localidad  cantidad_personas
3      Buenos Aires   Almirante Brown                NaN
7      Buenos Aires              Azul                NaN

### Atributo `.iloc`:

In [255]:
#documentación de iloc

#help(pd.DataFrame.iloc)

Accediendo a indices:

In [256]:
# un solo indice -> indice 3

df.iloc[[3]]

,fecha_ingreso,destino_provincia,destino_localidad,cantidad_certificados,cantidad_personas
3,2020-12-01,Buenos Aires,Almirante Brown,0,NaN

In [257]:
# accediendo a mas de un indice -> [3, 7]

df.iloc[[3, 7]]

,fecha_ingreso,destino_provincia,destino_localidad,cantidad_certificados,cantidad_personas
3,2020-12-01,Buenos Aires,Almirante Brown,0,NaN
7,2020-12-01,Buenos Aires,Azul,0,NaN

Accediendo a columnas:

In [258]:
# accediendo a columna 'destino_provincia'
df.iloc[:,[1]]

       destino_provincia
0           Buenos Aires
1           Buenos Aires
2           Buenos Aires
3           Buenos Aires
4           Buenos Aires
...                  ...
170802           Tucumán
170803           Tucumán
170804           Tucumán
170805           Tucumán
170806           Tucumán

[170807 rows x 1 columns]

In [259]:
# Accediendo a mas de una columna -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

df.iloc[:, [1, 2, 4]]

       destino_provincia       destino_localidad  cantidad_personas
0           Buenos Aires  Adolfo Gonzáles Chaves                2.0
1           Buenos Aires            Aguas Verdes               18.0
2           Buenos Aires                 Alberti                NaN
3           Buenos Aires         Almirante Brown                NaN
4           Buenos Aires               ARRECIFES                2.0
...                  ...                     ...                ...
170802           Tucumán         Villa de Leales                NaN
170803           Tucumán         Villa Quinteros                NaN
170804           Tucumán                  Yánima                NaN
170805           Tucumán             Yerba Buena               13.0
170806           Tucumán         Yerba Buena (S)                3.0

[170807 rows x 3 columns]

Accediendo a grupos de columnas e indices en especifico:

In [260]:
# indices -> [3, 7]
# columnas -> ['destino_provincia', 'destino_localidad', 'cantidad_personas']

df.iloc[[3, 7], [1, 2, 4]]

  destino_provincia destino_localidad  cantidad_personas
3      Buenos Aires   Almirante Brown                NaN
7      Buenos Aires              Azul                NaN

## Método `.groupby()`:

In [261]:
# documetación del método .groupby()
#help(pd.DataFrame.groupby)

### Agrupando por una sola columna:

In [262]:
df.columns

Index(['fecha_ingreso', 'destino_provincia', 'destino_localidad',
       'cantidad_certificados', 'cantidad_personas'],
      dtype='object')

In [263]:
# agrupando por una columna
df_agrupado_probs = df.groupby(by=['destino_provincia'], as_index=True)

In [264]:
# accediendo a ciertas columnas luego de la agrupación
df_agrupado_probs_loc_personas = df_agrupado_probs[['destino_localidad', 'cantidad_personas']]

In [265]:
# viendo los resultados para un grupo en particular con .get_group()
df_agrupado_probs_loc_personas.get_group('Tucumán')

/var/folders/sf/zv8w99hn1570688_wf9y1h280000gn/T/ipykernel_1937/1503858236.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df_agrupado_probs_loc_personas.get_group('Tucumán')

              destino_localidad  cantidad_personas
1767                    Acheral                NaN
1768    Agua Dulce y la Soledad                NaN
1769                  Aguilares                NaN
1770                  Alderetes                NaN
1771      Alpachiri y el Molino                NaN
...                         ...                ...
170802          Villa de Leales                NaN
170803          Villa Quinteros                NaN
170804                   Yánima                NaN
170805              Yerba Buena               13.0
170806          Yerba Buena (S)                3.0

[10010 rows x 2 columns]

In [266]:
# equivalencia de .get_group() utilizando mascaras

In [267]:
# aplicando una función de agregación
df_agrupado_probs_loc_personas.agg(func={'cantidad_personas':'mean'})

                   cantidad_personas
destino_provincia
Buenos Aires              379.549449
Catamarca                  92.823810
Chubut                    103.282289
Cordoba                    85.757884
Entre Rios                 88.046793
Jujuy                      62.157340
La Rioja                   47.833471
Mendoza                   103.138931
Misiones                   30.864354
Neuquén                   161.871568
Rio Negro                 139.678946
Salta                      72.284915
San Juan                   63.985397
San Luis                   79.334815
Santa Fe                   21.565280
Tierra Del Fuego          209.181467
Tucumán                    32.281410

### Agrupando por mas de una columna:

In [268]:
# agrupando por dos columnas

df_prov_loc = df.groupby(by=['destino_provincia', 'destino_localidad'], as_index=True)

In [269]:
# accediendo a ciertas columnas luego de la agrupación

df_prov_loc_cp_cc = df_prov_loc[['cantidad_personas', 'cantidad_certificados']]

In [270]:
# accediendo a ciertos grupos de las columnas agrupadas luego de la agrupación

df_prov_loc_cp_cc.get_group(('Salta', 'Aguaray'))

        cantidad_personas  cantidad_certificados
1263                  NaN                      0
3140                  NaN                      0
5017                  NaN                      0
6894                  NaN                      0
8771                  3.0                      2
...                   ...                    ...
162685               87.0                     54
164562               98.0                     61
166439               86.0                     54
168316               44.0                     31
170193               47.0                     41

[91 rows x 2 columns]

In [271]:
# Aplicando una función de agregación sobre el dataframe agrupado y con columnas ya seleccionadas
df_prov_loc_cp_cc.agg(func={'cantidad_personas':'sum', 'cantidad_certificados':'mean'})

                                              cantidad_personas  \
destino_provincia destino_localidad
Buenos Aires      ARRECIFES                              1782.0
                  Adolfo Gonzáles Chaves                 6187.0
                  Aguas Verdes                          28839.0
                  Alberti                                1194.0
                  Almirante Brown                        7220.0
...                                                         ...
Tucumán           Yánima                                   13.0
                  el Bracho y el Cevilar                  103.0
                  el Naranjo y el Sunchal                  45.0
                  la Ramada y la Cruz                      81.0
                  los Bulacio y los Villagra               16.0

                                              cantidad_certificados
destino_provincia destino_localidad
Buenos Aires      ARRECIFES                               10.109890
                  Adolfo Gonzáles Chaves                  42.483516
                  Aguas Verdes                           139.395604
                  Alberti                                  7.593407
                  Almirante Brown                         45.307692
...                                                             ...
Tucumán           Yánima                                   0.054945
                  el Bracho y el Cevilar                   0.549451
                  el Naranjo y el Sunchal                  0.186813
                  la Ramada y la Cruz                      0.560440
                  los Bulacio y los Villagra               0.098901

[1877 rows x 2 columns]

## Manejo de errores:

In [272]:
#help('raise')

In [273]:
# try, except
try:
  print(df['fecha_ingreso'].dt.year)
except Exception as e:
  print(f'Error al convertir al intentar obtener el año: {e}')

Error al convertir al intentar obtener el año: Can only use .dt accessor with datetimelike values

In [274]:
# raise
try:
  if pd.read_csv('/content/sample_data/certificados-personas-por-fecha-ingreso-provincia-localidad.csv').isnull().sum().sum() != 0:
    raise ValueError("Null's into someone column.")
  else:
    df_nulos = pd.read_csv('/content/sample_data/certificados-personas-por-fecha-ingreso-provincia-localidad.csv')
except Exception as e:
  print(f'Error al intentar leer el conjunto de datos: {e}')

Error al intentar leer el conjunto de datos: [Errno 2] No such file or directory: '/content/sample_data/certificados-personas-por-fecha-ingreso-provincia-localidad.csv'

## Manejo de fechas:

## Pandas.to_datetime()

In [275]:
# documentación de Pandas.to_datetime()
#help(pd.to_datetime)

In [276]:
# Convertir la columna a tipo fecha

fecha_ingreso = pd.to_datetime(df['fecha_ingreso'], yearfirst=True)
df['fecha_ingreso'] = fecha_ingreso

### pd.Series.dt

In [277]:
# documentación de Series.dt
#help(pd.Series.dt)

In [278]:
# utilizando atributo .dt para acceder al año
df['fecha_ingreso'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
170802    2021
170803    2021
170804    2021
170805    2021
170806    2021
Name: fecha_ingreso, Length: 170807, dtype: int32

In [279]:
# utilizando atributo .dt para acceder al mes
df['fecha_ingreso'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
170802     3
170803     3
170804     3
170805     3
170806     3
Name: fecha_ingreso, Length: 170807, dtype: int32

In [280]:
# utilizando atributo .dt para acceder al dia
df['fecha_ingreso'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
170802    1
170803    1
170804    1
170805    1
170806    1
Name: fecha_ingreso, Length: 170807, dtype: int32

In [281]:
# Utilizando .dt.isocalendar() para acceder al año semana y dia al mismo tiempo
df['fecha_ingreso'].dt.isocalendar()

        year  week  day
0       2020    49    2
1       2020    49    2
2       2020    49    2
3       2020    49    2
4       2020    49    2
...      ...   ...  ...
170802  2021     9    1
170803  2021     9    1
170804  2021     9    1
170805  2021     9    1
170806  2021     9    1

[170807 rows x 3 columns]

In [282]:
# .dt.strftime()
df['fecha_ingreso'].dt.strftime('%Y-%m-%d')

0         2020-12-01
1         2020-12-01
2         2020-12-01
3         2020-12-01
4         2020-12-01
             ...
170802    2021-03-01
170803    2021-03-01
170804    2021-03-01
170805    2021-03-01
170806    2021-03-01
Name: fecha_ingreso, Length: 170807, dtype: object

## Guardando el dataframe en una copia

In [283]:
# .copy()
df_processed = df.copy()

## Método apply para aplicar funciones sobre una columna o fila:

In [284]:
# documentación del metodo .apply()
#help(pd.DataFrame.apply)

## Cambios sobre una columna

In [285]:
# apply con función normal
df_processed['cantidad_certificados'].apply(func=np.sqrt)

0         1.000000
1         2.236068
2         0.000000
3         0.000000
4         1.000000
            ...
170802    0.000000
170803    0.000000
170804    0.000000
170805    2.828427
170806    1.414214
Name: cantidad_certificados, Length: 170807, dtype: float64

## Cambios sobre una fila

In [286]:
# apply sobre una fila
df.apply(func=type,axis=1)

0         <class 'pandas.core.series.Series'>
1         <class 'pandas.core.series.Series'>
2         <class 'pandas.core.series.Series'>
3         <class 'pandas.core.series.Series'>
4         <class 'pandas.core.series.Series'>
                         ...
170802    <class 'pandas.core.series.Series'>
170803    <class 'pandas.core.series.Series'>
170804    <class 'pandas.core.series.Series'>
170805    <class 'pandas.core.series.Series'>
170806    <class 'pandas.core.series.Series'>
Length: 170807, dtype: object

In [287]:
# accediento a una fila del dataframe
df.loc[0,:]

fecha_ingreso               2020-12-01 00:00:00
destino_provincia                  Buenos Aires
destino_localidad        Adolfo Gonzáles Chaves
cantidad_certificados                         1
cantidad_personas                           2.0
Name: 0, dtype: object

In [288]:
# accediendo al tipo de dato de cada fila del dataframe
type(df.loc[0,:])

pandas.core.series.Series

In [289]:
# uniendo uniendo los valores de dos de las columnas
f"{df.loc[0,:]['destino_provincia']} y {df.loc[0,:]['destino_localidad']}"

'Buenos Aires y Adolfo Gonzáles Chaves'

## Funciones:

### Funciones incorporadas:

In [290]:
# #help sobre la instancia de numpy y su metodo unique (np.unique)
#help(np.unique)

In [291]:
# type sobre la instancia 'df'
type(df)

pandas.core.frame.DataFrame

In [292]:
# print sobre un string
print('hola')

hola

### Funciones definidas por el usuario:

Definiendo e invocando funciónes:

In [293]:
# funcion sin argumentos y sin retorno de info (solo imprime algo)
def saludo():
  print('Hola')

saludo()

Hola

In [294]:
# funcion con argumentos y retorno de info
def cuadrado(col_num):
  return col_num ** 2

df['cantidad_personas'].apply(func=cuadrado)

0           4.0
1         324.0
2           NaN
3           NaN
4           4.0
          ...
170802      NaN
170803      NaN
170804      NaN
170805    169.0
170806      9.0
Name: cantidad_personas, Length: 170807, dtype: float64

In [295]:
# funcion con argumentos y valores por defecto
# uniendo los valores de dos columnas con apply y una funcion definida
def unir_columnas_str(fila):
  col1 = fila['destino_provincia']
  col2 = fila['destino_localidad']
  union = f"{col1}, {col2}"
  return union

df.apply(func=unir_columnas_str, axis=1)

0         Buenos Aires, Adolfo Gonzáles Chaves
1                   Buenos Aires, Aguas Verdes
2                        Buenos Aires, Alberti
3                Buenos Aires, Almirante Brown
4                      Buenos Aires, ARRECIFES
                          ...
170802                Tucumán, Villa de Leales
170803                Tucumán, Villa Quinteros
170804                         Tucumán, Yánima
170805                    Tucumán, Yerba Buena
170806                Tucumán, Yerba Buena (S)
Length: 170807, dtype: object

### Funciones anonimas `lambda`:

Funciones lambda aplicada a una columna:

In [296]:
# mostrando forma de obtener año de una columna timestamp
df.loc[0, 'fecha_ingreso'].year

2020

In [297]:
# columna 'fecha_ingreso'
df['fecha_ingreso'].apply(lambda x: x.year)

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
170802    2021
170803    2021
170804    2021
170805    2021
170806    2021
Name: fecha_ingreso, Length: 170807, dtype: int64

In [298]:
# para obtener valores unicos de un iterable (fila, columna)
df.apply(lambda x: x.unique())

fecha_ingreso            [2020-12-01 00:00:00, 2020-12-02 00:00:00, 202...
destino_provincia        [Buenos Aires, Catamarca, Chubut, Cordoba, Ent...
destino_localidad        [Adolfo Gonzáles Chaves, Aguas Verdes, Alberti...
cantidad_certificados    [1, 5, 0, 37, 6, 20, 9, 3, 10, 4, 34, 7, 8, 18...
cantidad_personas        [2.0, 18.0, nan, 8.0, 1.0, 91.0, 48.0, 26.0, 7...
dtype: object

In [299]:
# pseudo invocación de una función anonima
cuadrado = lambda x: x ** 2
cuadrado(x=2)

4

## Guardando dataframe en un archivo `.csv`

In [ ]:
# guardado de csv procesado
df_processed.to_csv(path_or_buf='./sample_data/df_processed.csv')